:global {
    html {
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }

    body {
        height: 100%;
        background-color: #f5f6f8;
    }

    body #app {
        height: 100%;
    }

    body input::-ms-clear {
        display: none;
    }

    b {
        font-weight: bold;
    }

    @keyframes progress-bar-stripes {
        0% {
            background-position: 3rem 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    .input-inprogress > div {
        background-color: #f9f9f9;
        background-repeat: repeat;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, #f3f3f3 25%, #f3f3f3 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, #f3f3f3 75%, #f3f3f3);
        animation: 'progress-bar-stripes' 2s linear infinite;
        background-size: 3.2rem 3.2rem;
    }

    body .hidden {
        display: none;
    }

    body .drag-indicator,
    body .drag-indicator-invisible {
        visibility: hidden;
        min-width: 1.5rem;
    }

    body .item-drag-image {
        position: absolute;
        top: -1000rem;
        background-color: #ffffff;
        border: 1px solid #E5E5E5;
        border-left: 2px solid rgba(192, 138, 227, 1) !important;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.13);
    }

    body .item-drag-src {
        border: 2px dashed rgba(59, 161, 255, .5) !important;
        opacity: .7;

        &:hover {
            background: none;
        }
    }

    body .item-drag-dst-top {
        border-top: 2px solid rgba(192, 138, 227, .5) !important;
    }

    body .item-drag-dst-bottom {
        border-bottom: 2px solid rgba(192, 138, 227, .5) !important;
    }

    body .item-drag-dst-left {
        border-left: 2px solid rgba(192, 138, 227, .5) !important;
    }

    body .item-drag-dst-right {
        border-right: 2px solid rgba(192, 138, 227, .5) !important;
    }

    body .item-drag-dst-around {
        border: 2px solid rgba(192, 138, 227, .5) !important;
    }

    body .flag {
        background: url('~img/flags/pirate.svg') no-repeat center;
        background-size: contain;
        width: 3rem;
        height: 3rem;
    }

    body .flag.sr_RS{
        background-image: url('~img/flags/sr_RS.svg');
    }

    body .flag.zh_SG{
        background-image: url('~img/flags/zh_SG.svg');
    }

    body .flag.ar_SA{
        background-image: url('~img/flags/ar_SA.svg');
    }

    body .flag.bg_BG{
        background-image: url('~img/flags/bg_BG.svg');
    }

    body .flag.ca_ES{
        background-image: url('~img/flags/ca_ES.svg');
    }

    body .flag.cs_CZ{
        background-image: url('~img/flags/cs_CZ.svg');
    }

    body .flag.da_DK{
        background-image: url('~img/flags/da_DK.svg');
    }

    body .flag.de_DE{
        background-image: url('~img/flags/de_DE.svg');
    }

    body .flag.el_GR{
        background-image: url('~img/flags/el_GR.svg');
    }

    body .flag.en_AU{
        background-image: url('~img/flags/en_AU.svg');
    }

    body .flag.en_CA{
        background-image: url('~img/flags/en_CA.svg');
    }

    body .flag.en_GB{
        background-image: url('~img/flags/en_GB.svg');
    }

    body .flag.en_US{
        background-image: url('~img/flags/en_US.svg');
    }

    body .flag.es_ES{
        background-image: url('~img/flags/es_ES.svg');
    }

    body .flag.et_EE{
        background-image: url('~img/flags/et_EE.svg');
    }

    body .flag.fi_FI{
        background-image: url('~img/flags/fi_FI.svg');
    }

    body .flag.fr_FR{
        background-image: url('~img/flags/fr_FR.svg');
    }

    body .flag.ga_IE{
        background-image: url('~img/flags/ga_IE.svg');
    }

    body .flag.hi_IN{
        background-image: url('~img/flags/hi_IN.svg');
    }

    body .flag.hu_HU{
        background-image: url('~img/flags/hu_HU.svg');
    }

    body .flag.it_IT{
        background-image: url('~img/flags/it_IT.svg');
    }

    body .flag.iw_IL{
        background-image: url('~img/flags/iw_IL.svg');
    }

    body .flag.ja_JP{
        background-image: url('~img/flags/ja_JP.svg');
    }

    body .flag.ka_GE{
        background-image: url('~img/flags/ka_GE.svg');
    }

    body .flag.ko_KR{
        background-image: url('~img/flags/ko_KR.svg');
    }

    body .flag.my_MM{
        background-image: url('~img/flags/my_MM.svg');
    }

    body .flag.nl_NL{
        background-image: url('~img/flags/nl_NL.svg');
    }

    body .flag.no_NO{
        background-image: url('~img/flags/no_NO.svg');
    }

    body .flag.pl_PL{
        background-image: url('~img/flags/pl_PL.svg');
    }

    body .flag.pt_BR{
        background-image: url('~img/flags/pt_BR.svg');
    }

    body .flag.pt_PT{
        background-image: url('~img/flags/pt_PT.svg');
    }

    body .flag.ro_RO{
        background-image: url('~img/flags/ro_RO.svg');
    }

    body .flag.da_DK{
        background-image: url('~img/flags/da_DK.svg');
    }

    body .flag.ru_RU{
        background-image: url('~img/flags/ru_RU.svg');
    }

    body .flag.sk_SK{
        background-image: url('~img/flags/sk_SK.svg');
    }

    body .flag.sv_SE{
        background-image: url('~img/flags/sv_SE.svg');
    }

    body .flag.th_TH{
        background-image: url('~img/flags/th_TH.svg');
    }

    body .flag.tr_TR{
        background-image: url('~img/flags/tr_TR.svg');
    }

    body .flag.uk_UA{
        background-image: url('~img/flags/uk_UA.svg');
    }

    body .flag.vi_VN{
        background-image: url('~img/flags/vi_VN.svg');
    }

    body .flag.zh_CN{
        background-image: url('~img/flags/zh_CN.svg');
    }

    body .flag.zh_TW{
        background-image: url('~img/flags/zh_TW.svg');
    }

    .custom-scrollbar {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &::-webkit-scrollbar {
            width: 0.7rem;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(142, 195, 255, .8);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(84, 174, 255, .8);
        }
    }

    .dropdown-custom-scrollbar {
        & .MuiPaper-root {
            &  {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &::-webkit-scrollbar {
                width: 0.7rem;
            }

            &::-webkit-scrollbar-track {
                background-color: rgba(142, 195, 255, .8);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(84, 174, 255, .8);
            }
        }

        & .MuiMenu-list {
            padding: 0;
            max-height: 13.7rem;

            & .MuiListItem-root {
                padding: 0 1rem;
                color: #000;
                font-weight: 700;
                font-size: 0.857rem;
            }
        }
    }

    body label + .MuiTextField-root,
    body label + .MuiInput-root {
        margin-top: 1rem;
    }

    body .form-label {
        line-height: .857rem;
        font-size: .857rem;
        font-weight: bold;
        color: rgba(0,0,0,.54);
        display: block;
    }

    @keyframes errorMsgAnimation {
        0% {
            opacity: 0;
            transform: translate3d(0, -0.71rem, 0);
        }
        100% {
            opacity: 1;
            transform: none;
        }
    }

    body .popup-action-btn {
        height: 3.57rem;
    }

    .ace_editor {
        border: 1px solid #ccc;
    }

    body .select-file {
        border: 0;
        display: inline-flex;
        padding: 0;
        position: relative;
        min-width: 0;
        margin: 0;
        width: 100%;
        flex-direction: column;
        vertical-align: top;
    }

    body .select-file-form-control {
        width: 100%;

        & .MuiFormControlLabel-root {
            margin: 0;
            align-items: flex-start;
        }

        & label, & label span {
            font-size: 0.857rem;
            color: rgba(0,0,0,.54);
        }

        & .progress-bar {
            position: relative;
            top: 0rem;
            box-sizing: border-box;
            border: 1px solid red;
            width: 0;
        }

        & .MuiFormHelperText-root {
            line-height: 1rem;
        }
    }

    body .select-file-input {
        width: 100%;
    }

    /* Fix clock disappearing in safari */
    body .MuiPickersClock-clock {
        transform: translate3d(0,0,0);
    }
}
